
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


html,body{
	height:100%;
}
body {
	font-family: 'Open Sans', sans-serif !important;
	color: #666 !important;
}
a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

header {
	position: absolute;
	z-index: 99;
	left: 0;
	right: 0;
}

nav.navbar.navbar-default {
	background: #fff;
	background-color: #fff;
	border-radius: 0;
	padding: 0px;
	border:none;
}

a.navbar-brand {
	height: auto;
	padding: 10px 0 0 10px;

}
ul.navbar-nav>li>a {
	padding-top: 27px;
}
a.navbar-brand img {
	height: 60px;
}

/*

<li class="hidden-xs hidden-sm">
                  <div class="medic-action">
                    <a href="consulta.html">MARQUE UMA CONSULTA</a>
                  </div>
                </li>

*/

.medic-link
{
	margin-right: 25px;
}

.medic-link a
{
	color: #00A99D !important;
}

.medic-link a:hover
{
	color: #009187!important;
}

div.medic-action {
	padding: 25px 0;
	border-radius: 0;
	border: 2px solid #00A99D;
	color: #00A99D;
	font-weight: bold;
	background-color: #fff;
}
div.medic-action:hover {
	color: #fff;
	background: #00A99D;
}
div.medic-action a {
	color: #00A99D;
	padding: 25px;
}
div.medic-action a:hover {
	color: #fff;
}
.carousel,.item,.active {
	height:100%;
}
.carousel-inner{
	height:100%;
}
.carousel-inner.page{
	height:50%;
}
.carousel-page,.item,.active {
	height:100%;
}
.fill{
	width:100%;
	height:500px;
	padding: 0;
	background-position:center;
	background-size:cover;

}
.carousel.slide.page {
	height: 500px;
	overflow: hidden;
}

/* faster sliding speed */


/*.carousel-inner > .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}*/
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.page-slider-caption {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 35%;
	text-align: center;
	width: 50%;
}
.page-slider-caption h1 {
	color: #fff;
	font-weight: 300;
	font-size: 50px;

	/*text-shadow: 0px 0px 5px rgba(0,0,0,0.8)*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.page-slider-caption h4 {
	color: #fff;
	font-weight: 300;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 10px 23px rgba(0,0,0,0.1);
}

section.intro {
	padding: 25px 0;
}
.quote {
	padding: 25px 0;
}
.quote h1 {
	color: #333;
}
.areas {
	margin: 25px 0;
}
.areas h3 {
	color: #00A99D !important;
	font-size: 1.5em;
}
section.team {
	background: #00A99D;
	color: #fff;
	padding: 25px 0;
}
.team-info {
	background: #fff;
	padding: 5px;
	color: #00A99D;
}

.team-info p {
	color: #333;
	font-weight: 300;
	font-size: 16px;
}

.team-wrapper {
	margin: 50px 0 0 0;
	overflow: hidden;
}

h4:hover {
	text-transform: none;
}

/* adaptação do aspecto dos links nos perfis dos trabalhadores*/
.cedulas a
{
	text-decoration: none;
	color: #666;
}

.team-wrapper img {
	transform:translateY(15px);
	transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    }
.team-wrapper img:hover {

   transform:translateY(0px);
-ms-transform:translateY(0px); /* prefix for IE 9 */
-webkit-transform:translateY(0px); /* prefix for Safari and Chrome */
  
}
.btn-custom {
	border-radius: 0;
	border: 2px solid #00A99D;
	color: #00A99D;
	font-weight: bold;
	padding: 15px 25px;
	background-color: #fff;
}
.btn-custom:hover {
	text-decoration: none;
	background: #00A99D;
	color: #fff;
}

.col-md-new-5 {
	float: left;
	width: 25%;
	text-align: center;
	padding: 25px; 
}
.info {
	background: #eee;
	margin: -170px 0 50px 0; 
	z-index: 99;
	position: relative;
	padding:0 15px 0 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.info-team {
	background: #eee;
	margin: -220px 0 50px 0; 
	z-index: 99;
	position: relative;
	padding: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.info img {
	margin-left: -15px;
}

.info h4 {
	font-size: 18px!important;
	font-weight: 300;
	letter-spacing: 0px;
	line-height: 1.6em;
}

.acordos {
	background: #fff;
	margin: -170px 0 50px 0; 
	z-index: 99;
	position: relative;
	padding:15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.acordos h2 {
	font-size: 24px!important;
	font-weight: 300;
	letter-spacing: 0px;
}

.acordos h3
{
	font-size: 15px!important;
	color: #333;
}

.more h2 {
	font-size: 24px!important;
	font-weight: 300;
	letter-spacing: 0px;
}
.more h4 {
	font-size: 18px!important;
	font-weight: 300;
	letter-spacing: 0px;
	line-height: 1.6em;
}
.social {
	background: #fff;
	margin: -170px 0 50px 0; 
	z-index: 99;
	position: relative;
	padding:15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.social h4 {
		font-size: 20px!important;
	font-weight: 300;
	letter-spacing: 0px;
	line-height: 30px;
}
div.wrapper.filled{
	background: #fff;
	margin-top: -25px;
}
.info-contact {
	margin: -170px 0 50px 0; 
	z-index: 99;
	position: relative;
	padding: 0px;
}
.info-contact table
{
	width: 100%;
}
div.info-contact h2 {
	font-size: 24px!important;
font-weight: 300;
letter-spacing: 0px;
margin-top: 5px!important;
margin-bottom: 5px!important;
color: #444444;
font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
line-height: 1.5!important;
}

.info-contact .form,
.info-contact .time,
.info-contact .local {
	padding: 25px;
}
.info-contact .time,
.info-contact .local {
	min-height: 250px;
}
.info-contact .local {
	background: #ddd;
}
.info-contact .form,
.info-contact .time {
	background: #f2f2f2;
}
.info-contact .time td{
border: 0px solid #ededed;
border-top: 1px solid rgba(216, 216, 216, 0.5);
padding: 6px 10px 6px 0;
}

/* FOOTER */

footer {
	padding: 45px 0;
	background: url('../img/footer_bg3.jpg') center bottom;
	background-size: 100%;
	color: #fff;

}

/* --- FOOTER --- */

/* SLIDER EQUIPA */

	div.col-md-3.wow.fadeInDown, .team-profil
	{
		width: 100%;
	}

	div.col-md-3.wow.fadeInDown a, .team-profil a
	{
		text-decoration: none;
	}

	/* controlos owl slider */
	.navigators
	{
		color: #fff;
	}

	.navigators2
	{
		color: #00A99D;
	}

	.customNavigation
	{
		margin-bottom: 25px;
	}

/* --- SLIDER EQUIPA --- */

/* QUEM SOMOS */

/* DOCUMENTATION BOX */

.documentacao-pngs
{
	background-color: #00A99D;
	width: 100%;
}

.documentacao-pngs p
{
	color: #fff;
	margin: 20px;
}

.documentacao-pngs a
{
	
	color: #fff;
}

/* MENTORA */

.mentora
{
	display: block;
	text-align: center;
}

.mentora img
{
	margin: 0 auto;
}

/* DOUTORA CLÁUDIA */

.dra img
{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}

/* --- QUEM SOMOS ---*/

/* FORM RELATED */

textarea
{
	resize: vertical;
}

.formul-icon
{
	margin-top: 75px;
	font-size: 100px !important;
}

.botaozito
{
	width: 150px;
	margin: 15px 0;
}

/* classes de javascript */
.error
{
	color: red;
}

/* --- FORM --- */

.msgSuces
{
	position: absolute;
	z-index: 9999;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.mensagem
{
	width: 30% !important;
	left: 0;
	right: 0;
	margin: auto;
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	border-radius: 10px 10px 10px;
}

.mensagem h2
{
	color: #fff !important;
}

.nota
{
	font-size: 18px !important;
}

.lema
{
	letter-spacing: 1px;
	font-weight: 600;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}

	.info
	{
		margin: -170px 0 50px 0;
	}

	.info-contact, .acordos, .info-team
	{
		margin: -140px 0 50px 0;
	}

	.info
	{
		margin: -100px 0 50px 0;
	}

	.page-slider-caption h1
	{
		font-size: 30px;
	}

	.botaozito
	{
		width: 100%;
	}

	footer
	{
		background-size: 300%;
	}

	footer > .container > .col-md-4.col-xs-12
	{
		text-align: center;
	}

	footer > .container > .col-md-4 > h4
	{
		margin-top: 55px;
	}

	.col-md-new-5 {
		float: left;
		width: 50%;
		text-align: center;
		padding: none; 
	}

	.btn-custom
	{
		font-size: 12px;
	}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

	.mob-indexer1
	{
		position: relative;
		z-index: 1;
	}

	.mob-indexer1000
	{
		position: relative;
		z-index: 1000;
	}

	.mob-invisible
	{
		display: none !important;
	}

	.fa.fa-arrow-circle-right, .fa.fa-arrow-circle-left
	{
		font-size: 40px;
		margin: 15px 15px;
	}

}